<h1>Log In or Sign Up!</h1>
<br>
<h1><%= link_to "Log In", login_path %></h1>

<br><br>
<h2>OR</h2>
<br>
<h1><%= link_to "Sign up", signup_path %></h1>
<br><br>
<h2>OR</h2>
<br>
<h1><%= link_to('Log in with Facebook!', '/auth/facebook') %></h1>